.header{
   
    background-color: black;
}
.logOut{
    position: absolute;
    
    border-radius: 20px;
    top: 0px;
    right: 0px;
    margin: 5px;
    background-color: red;
    color: aliceblue;
}