<h3 style="text-align: center;color: red;">{{ errorMessage }}</h3>

<mat-card class="registrationStyle" *ngIf="!isSignedIn">
  <form [formGroup]="myForm" (ngSubmit)="userRegistration()">
    <mat-form-field appearance="fill">
      <mat-label>enterName</mat-label>
      <input
        matInput
        placeholder="entername"
        formControlName="name"
      /> </mat-form-field
    ><br />

    <mat-form-field appearance="fill">
      <mat-label>enterPassword</mat-label>
      <input
        matInput
        placeholder="enterPassword"
        formControlName="password"
        required
      />

      <mat-error *ngIf="myForm.hasError('required', 'password')">
        Please enter your newpassword
      </mat-error> </mat-form-field
    ><br />

    <mat-form-field appearance="fill">
      <mat-label>confirmPassword</mat-label>
      <input
        matInput
        placeholder="confirmPassword"
        formControlName="confirmpassword"
        [errorStateMatcher]="matcher"
      />

      <mat-error *ngIf="myForm.hasError('notSame')">
        Passwords do not match
      </mat-error> </mat-form-field
    ><br />
    <input type="file" name="profile" (change)="profileImageSelect($event)" />
    <!-- <figure><img src={`path/to/image/${image}`} alt="" /></figure> -->
    <!-- <img src="{{ upload.profile}}" *ngFor="let upload of [uploads]"/> -->

    <button mat-button color="accent">Registration</button>
  </form>
</mat-card>

<div *ngIf="isSignedIn">
  <h1>Successfully Registered</h1>
  <button routerLink="/login">LogIn</button>
</div>

