

<div *ngFor="let blog of [blogData]" class="blockStyle" >
    <div class="card">
   
    <h2 style="text-align: center">{{ blog.title | titlecase }}</h2>
    <div>
      <p>Description:&nbsp; {{ blog.description | titlecase }}</p>
    </div>
  
    <div>
      <p>Access : {{ blog.access | titlecase }}</p>
    </div>
    <div>
      <p>status:{{ blog.status | titlecase }}</p>
    </div>
    <div>
      <!-- <p *ngIf="blog.accessedUsers.length"> -->

       <p>accessedUsers: {{ blog.accessedUsers }}</p> 

      <!-- </p> -->
      <!-- <p *ngIf="!blog.accessedUsers.length">null</p> -->
    </div>
  
    <div>
      <p>DateCreated: {{ blog.DateCreated }}</p>
    </div>
  
    <div>
      <p>lastUpdate :{{ blog.lastUpdate }}</p>
    </div>
</div>
</div>