
<mat-card class="loginStyle">
    <form [formGroup]="login" (ngSubmit)="userLogin()">
        <mat-form-field appearance="fill">
            <mat-label>enterName</mat-label>
            <input matInput placeholder="entername" formControlName="name">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>enterPassword</mat-label>
            <input matInput placeholder="enterpassword" formControlName="password">
        </mat-form-field><br>
        <button mat-button color="primary">login</button>
    </form>
</mat-card>