<!-- <form [formGroup] = "discription" (ngSubmit) ="blogData()">
    <input type="text" formControlName = "title" placeholder="entertitle"><br>
    <textarea rows="5" cols="50" formControlName="Description"
    id="Description"></textarea>
    <input type="date" formControlName = "createdDate" placeholder="enterdate"><br>

    <input type="radio" formControlName="published" value="published" checked> published<br>

<input type="radio" formControlName="draft" value="draft"> draft<br>

<select formControlName = "limitedUser" >
    <option>userId</option>
    <option>permissionId</option>
    <option>readId</option>
</select>

<select formControlName = "access" >
    <option>private</option>
    <option>public</option>
  
</select>
   
</form> -->