
<h3 style="text-align: center;color: red;">{{ errorMessage }}</h3>

<button
  type="button"
  class="btn btn-primary"
  (click)="openPopup()"
  style="margin-left: 20px"
>
  Add Blog
</button>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <form [formGroup]="blogForm" (ngSubmit)="addBlog()" class="shiftBlog">
          <mat-form-field appearance="fill">
            <mat-label>EnterTitle</mat-label>
            <input
              matInput
              placeholder="EnterTitle"
              formControlName="title"
            /> </mat-form-field
          ><br />

          <mat-form-field appearance="fill">
            <mat-label>Enter Description</mat-label>
            <input
              matInput
              placeholder="Enterdiscript"
              formControlName="description"
            /> </mat-form-field
          ><br />

          <mat-label>status</mat-label><br />
          <select formControlName="status" class="selectBoxStyle">
            <option value="Published">Published</option>
            <option value="Draft">Draft</option></select
          ><br />

          <mat-label>access</mat-label><br />
          <select
            formControlName="access"
            [(ngModel)]="selectedStatus"
            name="blogStatus"
            required
            class="selectBoxStyle"
          >
            <option value="Public">Public</option>
            <option value="Private">Private</option>
            <option value="accessedUsers">accessedUsers</option></select
          ><br />

          <div *ngIf="selectedStatus == 'accessedUsers'">
            <mat-label>EnterAccessedUsers</mat-label>

            <select formControlName="accessedUsers" class="selectBoxStyle">
              <option value=" {{ user.name }}" *ngFor="let user of userName">
                {{ user.name }}
              </option>
            </select>
          </div>
          <div class="modal-btn">
            <button type="submit" class="btn btn-success" (click)="closePopup()">addBlog</button>

            <!-- <button type="button" class="btn btn-danger" (click)="closePopup()">
              Close
            </button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let blog of blogData" class="blockStyle" >
  <div (click)="onSubmitdata(blog)">
  <h2 style="text-align: center">{{ blog.title | titlecase }}</h2>
  <div>
    <p>Description:&nbsp; {{ blog.description | titlecase }}</p>
  </div>

  <div>
    <p>Access : {{ blog.access | titlecase }}</p>
  </div>
  <div>
    <p>status:{{ blog.status | titlecase }}</p>
  </div>
  <div>
    <p *ngIf="blog.accessedUsers.length">
      accessedUsers: {{ blog.accessedUsers }}
    </p>
    <p *ngIf="!blog.accessedUsers.length"></p>
  </div>

  <div>
    <p>DateCreated: {{ blog.DateCreated }}</p>
  </div>

  <div>
    <p>lastUpdate :{{ blog.lastUpdate }}</p>
  </div>
</div>
  <button (click)="blogDelete(blog._id)">Delete</button>

  <button
    type="button"
    class="btn btn-primary"
    (click)="openPopup2()"
    style="margin-left: 20px"
    (click)="getUpdateBlogData(blog._id)"
  >
    update Blog
  </button>

</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle2 }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <form>
          <mat-label>Title</mat-label><br />
          <input
            type="text"
            [(ngModel)]="datablog.title"
            name="title"
            class="form-control"
          />
          <br />
          <mat-label>Enter Description</mat-label><br />
          <input
            type="text"
            [(ngModel)]="datablog.description"
            name="description"
            class="form-control"
          /><br />

          <mat-label>status</mat-label><br />
          <select
            [(ngModel)]="datablog.status"
            class="selectBoxStyle"
            name="status"
            class="form-control"
          >
            <option value="Published">Published</option>
            <option value="Draft">Draft</option></select
          ><br />

          <mat-label>access</mat-label><br />
          <select
            [(ngModel)]="datablog.access"
            name="access"
            required
            class="selectBoxStyle"
            class="form-control"
          >
            <option value="Public" >Public</option>
            <option value="Ptivate" >Ptivate</option>
            <option value="accessedUsers" >accessedUsers</option></select
          ><br />

          <div *ngIf="datablog.access == 'accessedUsers'">
            <mat-label>EnterAccessedUsers</mat-label>

            <select
              [(ngModel)]="datablog.accessedUsers"
              class="selectBoxStyle"
              class="form-control"
              name="accessedUsers"
            >
              <option value="{{ user.name }}" *ngFor="let user of userName">
                {{ user.name }}
              </option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary" (click)="onUpdate()" (click)="closePopup2()" >
            updateBlog
          </button>
          <!-- <button type="button" class="btn btn-danger" (click)="closePopup2()">
            Close
          </button> -->
        </form>
      </div>
    </div>
  </div>
</div>

